#area{
    background-color: #fce38a;
    position: relative;
    margin-top: 10px;
    border: 1px solid black;

}

#ball{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
}

#leftRacket{
    position: absolute;
    background-color: green;
}

#rightRacket{
    position: absolute;
    background-color: darkblue;
}

#start{
    float: left;
    margin-right: 30px;
}

#score{
    margin-left: 450px;
    font-family: sans-serif;
    font-size: 30px;
}